@use "./partials/var" as *;
// @use "./partials/mixins" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: $bg-color;
  color: #e4e4de;
}

img {
  display: block;
}

.container {
  max-width: 1900px;
  padding: $space-s;

  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 calc($space-s * -1);

    .col {
      padding: $space-s;
    }
  }
}
